<<<<<<< HEAD
.to-do-input {
	margin: 12px 0;
}

.App {
	width: 50%;
	margin: auto;
}

.x-button{
	color: gray; 
	float: right;
}

.toDo-wrapper {
	display: inline-block;
}
=======
>>>>>>> b0e6601e7baa13a7a5e7a7db3dbd0547a9bac54f
